<ul>
    <li class="menu-item menu-item-has-children"><a href="#">Home</a>
        <ul class="sub-menu">
            <li><a routerLink="/">Home 01</a></li>
            <li><a routerLink="/home-v2">Home 02</a></li>
            <li><a routerLink="/home-v3">Home 03</a></li>
        </ul>
    </li>
    <li class="menu-item"><a routerLink="/about">About</a></li>
    <li class="menu-item menu-item-has-children"><a href="#">Speakers</a>
        <ul class="sub-menu">
            <li><a routerLink="/speakers">Our Speakers</a></li>
            <li><a routerLink="/speaker-details">Speakers Details</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-has-children"><a href="#">Venu</a>
        <ul class="sub-menu">
            <li><a routerLink="/event">Event Venu</a></li>
            <li><a routerLink="/event-details">Event Details</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
        <ul class="sub-menu">
            <li><a routerLink="/shop">Our Shop</a></li>
            <li><a routerLink="/shop-details">Shop Details</a></li>
            <li><a routerLink="/shedules">Shedules</a></li>
            <li><a routerLink="/shedules-v2">shedules 02</a></li>
            <li><a routerLink="/sponsors">Sponsors</a></li>
            <li><a routerLink="/gallery">Gallery 01</a></li>
            <li><a routerLink="/gallery-v2">Gallery 02</a></li>
            <li><a routerLink="/pricing">Pricing</a></li>
            <li><a routerLink="/faq">Faq</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/coming-soon">Comeing Soon</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-has-children"><a href="#">News</a>
        <ul class="sub-menu">
            <li><a routerLink="/blog-standard">Blog Standard</a></li>
            <li><a routerLink="/blog-grid">Blog Grid</a></li>
            <li><a routerLink="/blog-grid-3-column">Blog Grid 3 Column</a></li>
            <li><a routerLink="/blog-details">Blog Details</a></li>
        </ul>
    </li>
</ul>