<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<!--====== EVENTS PART START ======-->
<section class="events-area pt-120 pb-120" id="event-filter">
    <div class="container">
        <app-filterevent></app-filterevent>
    </div>
</section>
<!--====== EVENTS PART ENDS ======-->
<!--====== INTRO VIDEO PART START ======-->
<section class="intro-video-area video-area-v1 bg_cover" style="background-image: url({{videobg}});">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="ovent-content-box">
                    <div class="section-title section-title-1">
                        <span class="span">Intro Video</span>
                        <h2>We Go With Our Quick Process</h2>
                    </div>
                    <h4>The biggest largest widest anticipated Digital Web Conference.</h4>
                    <p>Events must be memorable to make an impact. Of course the desired impact depends on your goals, but most companies want events to be more than just a staged advertisement for their brand.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="intro-video-play">
                    <a class="video-popup" href="https://www.youtube.com/watch?v=VMEXKJbsUmE&list=RDVMEXKJbsUmE&start_radio=1"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== INTRO VIDEO PART ENDS ======-->
<!--====== CONTACT PART START ======-->
<section class="contact-area contact-area-v1 contact-area-v4 pb-120">
    <div class="contact-wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-title section-title-1">
                        <span class="span">Registrate</span>
                        <h2>Get Every Single Update Here.</h2>
                    </div>
                    <div class="contact-form">
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <input type="text" class="form_control" placeholder="Enter your name" name="name" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <input type="email" class="form_control" placeholder="Enter your Email" name="email" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <input type="text" class="form_control" placeholder="Enter your NUmber" name="number" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <button class="main-btn"><i class="fal fa-envelope"></i>Registrarse</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ovent-img">
                        <img src="{{contactimg}}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== CONTACT PART ENDS ======-->
<app-footerthree></app-footerthree>