<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<!--====== Blog-grid-section START ======-->
<section class="blog-grid-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6" *ngFor="let item of blogpost">
                        <div class="blog-item mb-40">
                            <div class="blog-img">
                                <img src="{{item.img}}" class="img-fluid" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a routerLink="/blog-details">{{item.title}}</a></h3>
                                <p>{{item.text}}</p>
                                <div class="post-meta">
                                    <span><i class="fal fa-calendar-alt"></i><a routerLink="/blog-details">{{item.date}}</a></span>
                                    <span><i class="fal fa-user"></i> By <a routerLink="/blog-details">{{item.author}}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ovent-pagination text-center">
                            <app-pagination></app-pagination>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebarstyle2">
                <app-blogsidebar></app-blogsidebar>
            </div>
        </div>
    </div>
</section>
<!--====== Blog-grid-section END ======-->
<app-footerthree></app-footerthree>