<app-headerthree></app-headerthree>
<!--====== BANNER PART START ======-->
<section class="banner-area banner-area-v3">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="banner-content">
                    <span>12/A, Miami City, UK</span>
                    <h1>Business Conference</h1>
                    <ul>
                        <li><a class="main-btn" routerLink="/contact"><i class="fal fa-ticket"></i>Buy Ticket</a></li>
                        <li><a class="main-btn main-btn-2" routerLink="/about"><i class="fal fa-angle-right"></i>Learn
                                More</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== BANNER PART ENDS ======-->
<!--====== COUNTER PART START ======-->
<section class="counter-area counter-area-3 bg_cover pt-120 pb-120" style="background-image: url({{counterbg}});">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="section-title section-title-3">
                    <span class="span">Hurry up!</span>
                    <h2>15% Less For Early Birds.</h2>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="counter-box">
                    <app-counter></app-counter>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== COUNTER PART ENDS ======-->
<!--====== ABOUT PART START ======-->
<section class="about-area about-area-v3 pt-120 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="ovent-img-box">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="ovent-img">
                                <img src="{{aboutimg3}}" class="img-fluid" alt="">
                            </div>
                            <div class="ovent-img">
                                <img src="{{aboutimg5}}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="ovent-img mt-20">
                                <img src="{{aboutimg4}}" class="img-fluid" alt="">
                            </div>
                            <div class="ovent-img">
                                <img src="{{aboutimg6}}" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ovent-content-box">
                    <div class="section-title section-title-3">
                        <span class="span">Best Professional Ovent 2019</span>
                        <h2>DC Business Meet Conference</h2>
                    </div>
                    <h4>The biggest largest widest anticipated Digital Web Conference.</h4>
                    <p>Events must be memorable to make an impact. Of course the desired impact depends on your goals,
                        but most companies want events to be more than just a staged advertisement for their brand.</p>
                    <p>When done well, events have the power to create a lasting and powerful impression of all that
                        your company can deliver. Events must be memorable to make an impact. Of course the desired
                        impact depends on your goals, but most companies want.</p>
                    <ul>
                        <li><a routerLink="/contact" class="main-btn"><i class="fal fa-ticket-alt"></i>Buy Ticket</a>
                        </li>
                        <li><a routerLink="/about" class="main-btn main-btn-2"><i class="fal fa-angle-right"></i>Learn
                                More</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== ABOUT PART ENDS ======-->
<!--====== INTRO VIDEO PART START ======-->
<section class="intro-video-area video-area-v2 bg_cover pt-120" style="background-image: url({{videobg}});">
    <div class="ovent-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title section-title-3 text-center">
                    <span class="span">Intro Video</span>
                    <h2>Make Some Noise With us.</h2>
                </div>
                <div class="intro-video-play text-center">
                    <a class="video-popup"
                        href="https://www.youtube.com/watch?v=VMEXKJbsUmE&list=RDVMEXKJbsUmE&start_radio=1"><i
                            class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== INTRO VIDEO PART ENDS ======-->
<!--====== contact-info-area ======-->
<section class="contact-info-area">
    <div class="contact-item-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-item item-1 text-center">
                        <i class="fal fa-clock"></i>
                        <h3 class="title">Time & Shedule</h3>
                        <p>01 Mar, 2019 <br>10:00 am – 11:00 am</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-item item-2 text-center">
                        <i class="fal fa-map-marker-alt"></i>
                        <h3 class="title">Area & Direction</h3>
                        <p>503 Old Buffalo Street<br>New York, US</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-item item-3 text-center">
                        <i class="fal fa-ticket-alt"></i>
                        <h3 class="title">Ticket Info</h3>
                        <p><span class="email">Support:<a href="mailto:info@webmail.com">info@webmail.com</a></span></p>
                        <p><span class="phone">Call: <a href="tel:908989798786">908 989 798 78 6</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== contact-info-area ======-->
<!--====== EVENTS PART START ======-->
<section class="events-area pt-110 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title section-title-3 text-center mb-40">
                    <span class="span">Join & Enjoy</span>
                    <h2>Our Events</h2>
                </div>
            </div>
        </div>
        <app-filterevent></app-filterevent>
    </div>
</section>
<!--====== EVENTS PART END ======-->
<!--====== TEAM PART START ======-->
<section class="team-area team-area-v1 team-area-v4 light-bg pb-120">
    <div class="team-main-item pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="section-title section-title-3 text-center">
                        <span class="span">angels</span>
                        <h2>Our Speakers</h2>
                    </div>
                </div>
            </div>
            <app-speaker></app-speaker>
        </div>
    </div>
</section>
<!--====== TEAM PART End ======-->
<!--====== Pricing PART Start ======-->
<section class="pricing-area-1 pt-120 pb-120 bg_cover" style="background-image: url({{pricingbg}})">
    <div class="ovent-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title section-title-3 mb-70">
                    <span class="span">our plan</span>
                    <h2>Ticket Price</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pricing-tab">
                    <ul ngbNav #nav="ngbNav" class="nav nav-tabs">
                        <li ngbNavItem class="nav-item">
                            <a class="nav-link" ngbNavLink>Day event</a>
                            <ng-template ngbNavContent>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of dailypricing">
                                        <div class="pricing-box">
                                            <div class="pricing-head">
                                                <span class="span">{{item.title}}</span>
                                                <h2><span>$</span>{{item.price}}</h2>
                                                <ul>
                                                    <li><i class="fal fa-coffee"></i><span>Coffee</span></li>
                                                    <li><i class="fal fa-video"></i><span>Video</span></li>
                                                    <li><i class="fal fa-box"></i><span>Gift</span></li>
                                                </ul>
                                            </div>
                                            <div class="pricing-bottom">
                                                <p>{{item.text}}</p>
                                                <a routerLink="/" class="main-btn"><i class="fal fa-ticket-alt"></i>Buy
                                                    Ticket</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li ngbNavItem class="nav-item">
                            <a class="nav-link" ngbNavLink>Night event</a>
                            <ng-template ngbNavContent>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of nightpricing">
                                        <div class="pricing-box">
                                            <div class="pricing-head">
                                                <span class="span">{{item.title}}</span>
                                                <h2><span>$</span>{{item.price}}</h2>
                                                <ul>
                                                    <li><i class="fal fa-coffee"></i><span>Coffee</span></li>
                                                    <li><i class="fal fa-video"></i><span>Video</span></li>
                                                    <li><i class="fal fa-box"></i><span>Gift</span></li>
                                                </ul>
                                            </div>
                                            <div class="pricing-bottom">
                                                <p>{{item.text}}</p>
                                                <a routerLink="/" class="main-btn"><i class="fal fa-ticket-alt"></i>Buy
                                                    Ticket</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div [ngbNavOutlet]="nav"></div>
    </div>
</section>
<!--====== Pricing PART ENDS ======-->
<!--====== gallery PART Start ======-->
<section class="gallery-area-v1 pt-120 pb-90" id="masonry-gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title section-title-3 mb-70 text-center">
                    <span class="span">gallery</span>
                    <h2>Photo Showcase</h2>
                </div>
            </div>
        </div>
        <ng-masonry-grid *ngIf="showMasonry" class="masonry-gallery row"
            [masonryOptions]="{ transitionDuration: '0.4s' }" [useAnimation]="true" [useImagesLoaded]="true">
            <ng-masonry-grid-item class="{{item.colclass}} grid_column" *ngFor="let item of masonarygallery">
                <div class="gallery-img">
                    <a href="{{item.img}}" class="image-popup">
                        <img src="{{item.img}}" class="img-fluid" alt="">
                    </a>
                </div>
            </ng-masonry-grid-item>
        </ng-masonry-grid>
    </div>
</section>
<!--====== Gallery PART Start ======-->
<!--====== SPONSORS PART START ======-->
<section class="sponsors-area sponsors-area-1 sponsors-area-3 pt-120 pb-120">
    <svg id="curve-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill-rule="evenodd" fill="rgb(255, 236, 246)"
            d="M1920.000,405.000 L0.000,405.000 L0.000,-0.000 C0.000,-0.000 131.684,241.345 489.000,270.000 C846.316,298.654 1079.576,19.147 1505.000,190.000 C1930.423,360.853 1922.085,198.605 1920.000,405.000 Z" />
    </svg>
    <svg id="curve-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill-rule="evenodd" fill="rgb(255, 223, 239)"
            d="M0.406,405.000 L1920.000,405.000 L1920.000,-0.000 C1920.000,-0.000 1788.344,241.345 1431.103,270.000 C1073.863,298.654 840.652,19.147 415.318,190.000 C-10.015,360.853 -1.678,198.605 0.406,405.000 Z" />
    </svg>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title section-title-3 text-center mb-80">
                    <span class="span">Sponsors</span>
                    <h2>Our Sponsors</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <app-sponsers></app-sponsers>
            </div>
            <div class="col-lg-12 text-center">
                <a routerLink="/" class="main-btn"><i class="fal fa-users"></i> Become Sponsors</a>
            </div>
        </div>
    </div>
</section>
<!--====== SPONSORS PART ENDS ======-->
<!--====== Blog-area-v2 PART ENDS ======-->
<section class="blog-area-v2 pt-120 pb-120 bg_cover" style="background-image: url({{blogpostbg}});">
    <div class="ovent-overlay"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="section-title section-title-3 text-center mb-45">
                    <span class="span">Blog</span>
                    <h2>News Feeds</h2>
                </div>
            </div>
        </div>
        <ngx-slick-carousel class="blog_slide_v1" #slickModal="slick-carousel" [config]="blogConfig">
            <div ngxSlickItem class="blog-item" *ngFor="let item of blogpost">
                <div class="blog-img">
                    <img src="{{item.img}}" class="img-fluid" alt="">
                </div>
                <div class="blog-content">
                    <h3><a routerLink="/blog-details">{{item.title}}</a></h3>
                    <p>{{item.text}}</p>
                    <div class="post-meta">
                        <span><i class="fal fa-calendar-alt"></i><a routerLink="/blog-details">{{item.date}}</a></span>
                        <span><i class="fal fa-user"></i> By <a routerLink="/blog-details">{{item.author}}</a></span>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</section>
<!--====== Blog-area-v2 PART ENDS ======-->
<app-footerthree></app-footerthree>