<div class="row">
    <div class="col-lg-3">
        <div class="counter-item text-center mt-30">
            <div class="chart_1" data-barcolor="ff62a5" data-percent="95">
                <circle-progress [percent]="95" [showInnerStroke]="true" [showTitle]="false"   [showUnits]="false" [showSubtitle]="false" [radius]="120" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [innerStrokeColor]="'#ffffff24'" [space]="'-10'"
                [outerStrokeColor]="'#ff62a5'" [outerStrokeLinecap]="'butt'" [responsive]="true" [animation]="true"
                [animationDuration]="2000"></circle-progress>
                <h2><span class="counter">35</span>+</h2>
                <h5>Speakers</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="counter-item text-center mt-30">
            <div class="chart_1" data-barcolor="1affec" data-percent="75">
                <circle-progress [percent]="75" [showInnerStroke]="true" [showTitle]="false"   [showUnits]="false" [showSubtitle]="false" [radius]="120" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [innerStrokeColor]="'#ffffff24'" [space]="'-10'"
                [outerStrokeColor]="'#1affec'" [outerStrokeLinecap]="'butt'" [responsive]="true" [animation]="true"
                [animationDuration]="2000"></circle-progress>
                <h2><span class="counter">1</span>M+</h2>
                <h5>Audience</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="counter-item text-center mt-30">
            <div class="chart_1" data-barcolor="ffd862" data-percent="85">
                <circle-progress [percent]="85" [showInnerStroke]="true" [showTitle]="false"   [showUnits]="false" [showSubtitle]="false" [radius]="120" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [innerStrokeColor]="'#ffffff24'" [space]="'-10'"
                [outerStrokeColor]="'#ffd862'" [outerStrokeLinecap]="'butt'" [responsive]="true" [animation]="true"
                [animationDuration]="2000"></circle-progress>
                <h2><span class="counter">10</span>+</h2>
                <h5>Awards</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="counter-item text-center mt-30">
            <div class="chart_1" data-barcolor="62ff69" data-percent="50">
                <circle-progress [percent]="50" [showInnerStroke]="true" [showTitle]="false"   [showUnits]="false" [showSubtitle]="false" [radius]="120" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [innerStrokeColor]="'#ffffff24'" [space]="'-10'"
                [outerStrokeColor]="'#62ff69'" [outerStrokeLinecap]="'butt'" [responsive]="true" [animation]="true"
                [animationDuration]="2000"></circle-progress>
                <h2><span class="counter">17</span>+</h2>
                <h5>Country</h5>
            </div>
        </div>
    </div>
</div>