<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<!--====== Blog-details-section START ======-->
<section class="blog-details-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-wrapper">
                    <div class="blog-content">
                        <a routerLink="/blog-details" class="cat">Businese</a>
                        <h3>Lorem ipsum dolor sit amet, consecte cing elit, sed do eiusmod tempor.</h3>
                        <ul class="post-meta">
                            <li><i class="far fa-eye"></i>232 Views</li>
                            <li><a routerLink="/blog-details"><i class="fal fa-calendar-alt"></i>35 Comments</a></li>
                            <li><i class="far fa-calendar-alt"></i>24th March 2019</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
                            ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                            dolore magnam aliquam quaerat voluptatem.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt.</p>
                        <img src="{{blogthumb}}" class="img-fluid" alt="">
                        <div class="item">
                            <h4>A cleansing hot shower or bath</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. </p>
                        </div>
                        <div class="item">
                            <h4>Setting the mood with incense</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. </p>
                        </div>
                        <div class="item-list">
                            <h4>Setting the mood with incense</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</li>
                            </ul>
                        </div>
                        <blockquote>
                            <span>by <a routerLink="/blog-details">Hetmayar</a></span>
                            <h3>Viral dreamcatcher keytar type-<br>writer, aesthetic offal umami. Aes-<br>thetic
                                polaroid pug pitchfork</h3>
                            <img src="{{quote}}" alt="">
                        </blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
                            ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                        <div class="content-box">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="{{blogthumb2}}" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
                                        omnis iste natus</p>
                                </div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
                            ut perspiciatis unde omnis iste natus error sit voluptatem. </p>
                    </div>
                    <div class="post-share-tag">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="post-tag">
                                    <h4>Releted Tags</h4>
                                    <a routerLink="/blog-details" *ngFor="let item of relatedtag">{{item.tag}}</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="post-social">
                                    <h4>Social Share</h4>
                                    <ul>
                                        <li *ngFor="let item of sociallinks">
                                            <a routerLink="{{item.url}}"><i class="fab fa-{{item.icon}}"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-prev-next">
                        <div class="row">
                            <div class="col-lg-5 col-md-5">
                                <div class="box box-1">
                                    <a routerLink="/blog-details">Prev Post</a>
                                    <h4>Tips On Minimalist</h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="box box-2 text-center">
                                    <img src="{{icon}}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5">
                                <div class="box box-3">
                                    <a routerLink="/blog-details">Next Post</a>
                                    <h4>Less Is More</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="related-post">
                        <h4>Releted Post</h4>
                        <ngx-slick-carousel class="related-post-slide" #slickModal="slick-carousel" [config]="relatedConfig">
                            <div ngxSlickItem class="blog-item" *ngFor="let item of relatedpost">
                                <div class="blog-img">
                                    <img src="{{item.img}}" class="img-fluid" alt="">
                                </div>
                                <div class="blog-content">
                                    <span><i class="far fa-calendar-alt"></i>{{item.date}}</span>
                                    <h3><a routerLink="/blog-details">{{item.title}}</a></h3>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                    <div class="author-box">
                        <div class="author-img">
                            <img src="{{author}}" class="img-fluid" alt="">
                        </div>
                        <div class="author-info">
                            <span>Written by</span>
                            <h3>{{authorname}}</h3>
                            <p>{{authordescription}}</p>
                        </div>
                    </div>
                    <div class="comment-area">
                        <h4>03 Comments</h4>
                        <div class="single-comment">
                            <div class="comment-img">
                                <img src="{{comment1}}" class="img-fluid" alt="">
                            </div>
                            <div class="comment-info">
                                <h5>Rosalina Kelian</h5>
                                <span>19th May 2018</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <a routerLink="/" class="reply-btn"><i class="far fa-share"></i>reply</a>
                            </div>
                        </div>
                        <div class="single-comment">
                            <div class="comment-img">
                                <img src="{{comment2}}" class="img-fluid" alt="">
                            </div>
                            <div class="comment-info">
                                <h5>Rosalina Kelian<i class="fas fa-bookmark"></i></h5>
                                <span>19th May 2018</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <a routerLink="/" class="reply-btn"><i class="far fa-share"></i>reply</a>
                            </div>
                        </div>
                        <div class="single-comment">
                            <div class="comment-img">
                                <img src="{{comment3}}" class="img-fluid" alt="">
                            </div>
                            <div class="comment-info">
                                <h5>Rosalina Kelian</h5>
                                <span>19th May 2018</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <a routerLink="/" class="reply-btn"><i class="far fa-share"></i>reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form-area">
                        <h4>Post Comment</h4>
                        <div class="comment-form">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form_group">
                                            <textarea class="form_control" placeholder="Type your comments...."
                                                name="message"></textarea>
                                            <i class="fal fa-pencil-alt"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form_group">
                                            <input type="text" class="form_control" placeholder="Type your name...."
                                                name="name" required>
                                            <i class="fal fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form_group">
                                            <input type="email" class="form_control" placeholder="Type your email...."
                                                name="email" required>
                                            <i class="fal fa-envelope"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form_group">
                                            <input type="text" class="form_control" placeholder="Type your website...."
                                                name="website" required>
                                            <i class="fal fa-globe"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form_button">
                                            <button class="main-btn"><i class="fal fa-comments"></i>Post
                                                Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <app-blogsidebar></app-blogsidebar>
            </div>
        </div>
    </div>
</section>
<!--====== Blog-details-section END ======-->
<app-footerthree></app-footerthree>