<app-header></app-header>
<!--====== Coming_soon_section START ======-->
<section class="coming_soon_section bg_cover position-relative" style="background-image: url({{comingsoonbg}});">
    <div class="ovent-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="come_content text-center">
                    <span>Make some noise with us</span>
                    <h1>Ditital DC Conference 2020</h1>
                </div>
            </div>
        </div>
        <div class="counter-area">
            <div class="counter-box">
                <app-counter></app-counter>
            </div>
        </div>
    </div>
</section>
<!--====== Coming_soon_section END ======-->